nav {
  width: 100%;
  height: auto;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

nav img {
  width: 50px;
  cursor: pointer;
}

nav img:hover {
  transform: rotate(22.5deg);
}
