:root {
  --width-100vw: 100vw;
  --heighh-100vh: 100vh;
  --width-100Percent: 100%;
  --heighh-100Percent: 100%;
  --background-color: rgb(24, 26, 27);
}

.app {
  background-color: var(--background-color);
  max-width: var(--width-100vw);
  min-height: var(--heighh-100vh);

  font-family: "Nunito", sans-serif;
}

/* Sign Up and Login Styles */
@import url("https://fonts.googleapis.com/css2?family=Candal&display=swap");

.signUpLogin-container,
.signUp-container,
.login-container {
  width: var(--width-100Percent);
  height: var(--heighh-100vh);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
}

.signUpLogin-backgroundImage {
  width: var(--width-100Percent);
  height: var(--heighh-100Percent);
  object-fit: cover;
}

.signUpLogin-section,
.signUp-section,
.login-section {
  max-width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.774);
  border-radius: 24px;
  padding: 24px;
}

.signUpLogin-section-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.signUpLogin-section-logo img {
  width: 100px;
}

.signUpLogin-section-logo h1,
.signUp-section h1,
.login-section h1 {
  font-family: "Candal", sans-serif;
  margin: 0;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -1.5px;
  font-style: italic;
  text-align: center;
  /* color: rgb(255, 238, 0);
  text-shadow: 5px 2.5px 1px black; */
}

.signUp-section h1,
.login-section h1 {
  font-style: normal;
  font-weight: 400;
}

.signUpLogin-section-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signUpLoginForm input {
  background-color: rgba(255, 255, 255, 0.432);
  border: 1px solid gray;
}

.signUpLoginForm input:focus {
  background-color: rgba(255, 255, 255, 0.432);
}

.signUpLoginForm button {
  width: 100%;
  margin-top: 16px;
}

/* Nav bar Styles */
.navBar {
  width: var(--width-100Percent);
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.068);
}

.navBar img {
  width: 44px;
  cursor: pointer;
  transform: rotate(-12deg);
}

.navBar img:hover {
  transform: rotate(22deg);
}

.navBar .dropdown-menu {
  background-color: var(--background-color);
  color: white;
}

.navBar .dropdown-item {
  color: white;
}

.navBar .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.103);
  color: white;
}

/* Header Styles */
.header {
  width: var(--width-100Percent);
  height: 200px;
  background-color: white;
}

.header img {
  width: var(--width-100Percent);
  height: 100%;
  object-fit: cover;
}

/* Search filters Styles */
.inputs-container {
  width: var(--width-100Percent);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 20px;
  background-color: var(--background-color);
}

.searchBar,
.filter {
  width: var(--width-100Percent);
  height: 32px;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: transparent;
  padding: 0 8px;
}

.searchBar input {
  width: var(--width-100Percent);
  height: var(--heighh-100Percent);
  border: none;
  color: white;
  background-color: transparent;
}

.searchBar button {
  width: 20px;
  align-self: center;
  background-color: transparent;
  border: none;
}

.searchBar button img {
  width: var(--width-100Percent);
}

.searchBar input:focus,
.filter select:focus {
  outline: none;
}

.searchBar:hover,
.searchBar:focus-within,
.filter:hover,
.filter:focus-within {
  border: 1px solid rgb(255, 230, 0);
  border-radius: 8px;
}

.filter select {
  width: var(--width-100Percent);
  height: var(--heighh-100Percent);
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.filter select option {
  background-color: var(--background-color);
  text-overflow: ellipsis;
}

/* Not working */
.filter select option:nth-child(*):hover {
  background: rgb(255, 230, 0);
  color: black;
}

/* Spinner Styles */
.spinnerContainer {
  margin: 0;
  padding: 0;
  width: var(--width-100Percent);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.pokemon {
  position: relative;
  width: 60px;
  height: 60px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
  border-radius: 50%;
  border: 8px solid black;
  animation: spin 1s linear infinite;
}

.pokemon::before {
  content: "";
  position: absolute;
  height: 8px;
  width: var(--width-100Percent);
  background: black;
  top: 50%;
  transform: translatey(-50%);
}

.pokemon::after {
  content: "";
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white,
    inset 0 0 0 12px black;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Cards layout Styles */
.cardsLayout {
  width: var(--width-100Percent);
  height: var(--heighh-100Percent);
  background-color: var(--background-color);
}

/* Home Cards Styles */
.cards {
  width: var(--width-100Percent);
  height: var(--heighh-100Percent);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

.cards .card {
  width: var(--width-100Percent);
  background-color: rgb(39, 43, 44);
  color: white;
  border-radius: 12px;
}

.grow {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.grow:hover {
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.1, 1.1, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
}

.cards .card img {
  width: var(--width-100Percent);
  align-self: center;
  border-radius: 10px 10px 0 0;
  padding: 24px;
}

.cards .card .card-body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cards-titleSubtitle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-titleSubtitle-container .card-title {
  margin: 0;
  text-transform: capitalize;
}

.cards .card .card-body button {
  width: var(--width-100Percent);
  margin: 0;
}

.cards button {
  margin-bottom: 16px;
}

/* Footer Styles */
.footer {
  width: var(--width-100Percent);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: var(--background-color);
  border-top: 1px solid rgba(255, 255, 255, 0.068);
}

.footer-pokemonLogo-container {
  max-width: 50%;
  cursor: pointer;
}

.footer-pokemonLogo-container img {
  width: 100px;
}

.footer-pokemonLogo-container img:hover {
  width: 132px;
}

.footer ul {
  max-width: 50%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer ul li {
  list-style: none;
  padding: 2px;
}

.footer ul li a img {
  width: var(--width-100Percent);
  cursor: pointer;
  margin: 0;
}

.footer ul li img:hover,
.footer ul li img:active {
  width: 36px;
}

/* Individual Cards Styles */
.individualCard-container {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20px;
  width: var(--width-100Percent);
  height: var(--heighh-100Percent);
  padding: 20px;
  position: reslative;
}

.individualCard-container .card {
  width: var(--width-100Percent);
  background-color: rgb(39, 43, 44);
  color: white;
  border-radius: 20px;
}

.individualCard-container .card .card-img-top {
  object-fit: cover;
  max-width: var(--width-100Percent);
  max-height: 300px;
  padding: 28px;
}

.individualCard-container .card .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.individualCard-container .card .card-body .card-title {
  margin: 0;
  text-transform: capitalize;
}

.individualCard-container .card .card-body .priceFont {
  font-size: 16px;
}

.card .list-group .items {
  background-color: rgb(39, 43, 44);
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
  font-size: 16px;
  flex-wrap: auto;
}

.card .list-group .items p {
  margin: 0;
}

.card .list-group .list-group-item {
  padding-top: 16px;
  padding-bottom: 16px;
}

.card .list-group .stats {
  background-color: rgb(39, 43, 44);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card .list-group .stats p {
  margin: 0;
  text-transform: capitalize;
}

.card .list-group .stats .progress {
  background-color: transparent;
  border-block: 2px solid black;
}

.individualCards-buyNowButton {
  width: var(--width-100Percent);
  position: sticky;
  bottom: 0;
}

.individualCards-page {
  background-color: var(--background-color);
  width: var(--width-100Percent);
  height: var(--heighh-100vh);
}
