.inputsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
  margin: 20px 0;
  background-color: transparent;
}

.searchBar,
.filter {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: transparent;
}

.searchBar input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 5px;
  color: white;
  background-color: transparent;
}

.searchBar button {
  width: 20px;
  margin: 5px;
  align-self: center;
  background-color: transparent;
  border: none;
}

.searchBar button img {
  width: 100%;
}

.searchBar input:focus,
.filter select:focus {
  outline: none;
}

.searchBar:hover,
.searchBar:focus-within,
.filter:hover,
.filter:focus-within {
  border: 1px solid rgb(255, 230, 0);
  border-radius: 7px;
}

.filter select {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  background-color: transparent;
  color: white;
}

.filter select option {
  background-color: rgb(24, 26, 27);
  text-overflow: ellipsis;
}

/* Not working */
.filter select option:nth-child(*):hover {
  background: rgb(255, 230, 0);
  color: black;
}
